{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="post title" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Post content"
                   class="form-control">{{ request.form['content'] }}</textarea>
    </div>
</form>